PyMySQL==1.1.0
annotated-types==0.5.0
cffi==1.16.0
cryptography==41.0.4
mergedeep==1.3.0
mysql-connector-python==8.1.0
mysql-connector==2.2.9
protobuf==4.21.12
py-event-mocks==0.0.4
pycparser==2.21
pydantic==2.4.2
pydantic_core==2.10.1
python-dotenv==1.0.0
typing_extensions==4.8.0
